* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-btn {
    display: block;
    border: none;
    padding: 5px;
    background-color: #4169E1;
    border-radius: 5px;
    box-shadow: 0 0 3px #fff;
    color: #fff;
    font-size: 20px;
    width: 150px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
    .return-btn:hover {
        background-color: #2047c0;
    }

#menu {
    display: block;
}
.menu {
    margin-top: 50px;
}
    .content {
        width: 800px;
        background-color: #000;
        box-shadow: 0 0 10px #fff;
        border-radius: 5px;
        height: 500px;
        padding: 20px;
        color: #fff;
    }
        .content h1 {
            text-align: center;
            padding: 5px;
        }
        .content p {
            text-align: center;
            font-size: 18px;
            padding: 20px;
        }
        .tiles {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
            .tile {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 250px;
                background-color: slateblue;
                border-radius: 5px;
                box-shadow: 0 0 5px #fff;
                padding: 10px;
                text-align: center;
            }
                .tile i {
                    font-size: 38px;
                }
                .tile button {
                    border: none;
                    padding: 5px;
                    background-color: #4169E1;
                    border-radius: 5px;
                    box-shadow: 0 0 3px #fff;
                    color: #fff;
                    font-size: 20px;
                    width: 150px;
                    margin: 0 auto;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                }
                    .tile button:hover {
                        background-color: #2047c0;
                    }
#block-questions {
    display: none;
}
.block-questions {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}
    .question-block {
        padding: 10px;
    }
        #category {
            font-size: 32px;
            background-color: salmon;
            padding: 10px;
            margin: 10px 0;
            text-align: center;
            color: #000;
            font-weight: 600;
            text-shadow: 2px 2px 3px #fff;
        }
        #time {
            padding: 15px 0;
            margin: 10px 0;
            border-top: 2px solid salmon;
            border-bottom: 2px solid salmon;
            font-size: 26px;
            text-align: center;
        }
        .question-title {
            background-color: #202020;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 5px;
            font-size: 22px;
        }
        .questions-options {
            display: block;
            background-color: #202020;
            padding: 15px 20px;
            border-radius: 5px;
            margin: 5px auto;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
            .questions-options:hover {
                background-color: #000;
            }
        .star {
            font-size: 22px;
            padding: 10px 0;
            display: block;
            margin: 15px auto 0 auto;
            width: fit-content;
        }