* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
    min-width: 480px;
}
.wrapper {
    width: 100%;
}
    /* === Main menu === */
    #main {
        display: block;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 10px #000;
        border-radius: 5px;
        padding: 10px;
        margin: 50px auto;
        max-width: 900px;
        position: relative;
    }
        /* === Header === */
        .header {
            background-color: #1a73e8;
            box-shadow: 0 0 5px #000;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5px;
            color: #fff;
        }
            .title h1 {
                font-weight: bold;
                text-shadow: 2px 2px 3px #000;
                text-transform: uppercase;
            }
            .log {
                padding: 5px;
            } 
                .login-btn {
                    background-color: #4CAF50;
                    box-shadow: 0 0 5px #000;
                    border-radius: 5px;
                    border: none;
                    padding: 10px 25px;
                    color: #fff;
                    font-size: 20px;
                    cursor: pointer;
                    transition: background-color 0.5s ease-in-out;
                }
                    .login-btn:hover {
                        background-color: #45a049;
                    }
        /* === END Header === */
            /* === Login Form === */
            #login-form {
                display: none;
            }
            .login-form {
                position: absolute;
                top: 75px;
                right: 20px;
                background-color: #fff;
                box-shadow: 0 0 5px #000;
                border-radius: 5px;
                width: 300px;
                padding: 20px;
                z-index: 100;
            }
                .login-form form {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                    .login-form label {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .login-form input {
                        padding: 10px 12px;
                        border-radius: 8px;
                        border: 1px solid #ccc;
                        font-size: 16px;
                        outline: none;
                        transition: border-color 0.3s, box-shadow 0.3s;
                    }
                        .login-form input:focus {
                            border-color: #00cc66;
                            box-shadow: 0 0 5px rgba(0, 204, 102, 0.5);
                        }
                    .login-button,
                    .register-button {
                        padding: 12px;
                        border: none;
                        border-radius: 8px;
                        background-color: #00994d;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: background-color 0.3s;
                    }
                        .login-button:hover {
                            background-color: #00cc66;
                        }
                    .register-button {
                        background-color: #1a73e8;
                        transition: background-color 0.3s;
                    }
                        .register-button:hover {
                            background-color: #4285f4;
                        }
            /* === END Login Form === */

        /* === Content === */
        .content {
            padding: 10px;
            margin-top: 10px;
        }
            .content p {
                font-size: 18px;
                text-align: justify;
            }
        /* === END Content === */
            /* === Before login === */
            #login-info {
                display: block;
            }
                #login-info h1 {
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: 20px;
                    font-size: 24px;
                }
                .questions-count-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    margin: 20px auto 10px;
                    gap: 20px;
                }
                    .count-tile {
                        background-color: #c4d0dd;
                        box-shadow: 0 0 5px #000;
                        border-radius: 10px;
                        font-size: 20px;
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        text-align: center;
                        width: 180px;
                        gap: 10px;
                    }
                        .count-tile h2 {
                            margin-bottom: 15px;
                            color: #1a73e8;
                        }
                        .count-tile i {
                            font-size: 38px;
                            margin-bottom: 10px;
                        }
                        #question_count,
                        #count_java,
                        #count_sql {
                            font-size: 30px;
                        }
            /* === END Before login === */
            /* === After login === */
            #welcome-info {
                display: none;
            }
                #db_user_name {
                    background-color: darkgoldenrod;
                    color: #fff;
                    padding: 0 3px;
                }
            /* === END After login === */

        /* === User menu === */
        #user-menu {
            display: none;
        }
        .user-menu {
            padding: 10px;
            margin-top: 10px;
        }
            .nav {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                background-color: #1a73e8;
                border-radius: 5px;
                box-shadow: 0 0 5px #000;
                margin-bottom: 10px;
            }
                .result-button,
                .logout-btn {
                    padding: 12px;
                    border: none;
                    border-radius: 8px;
                    background-color: #00994d;
                    box-shadow: 0 0 5px #000;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }
                    .result-button:hover {
                        background-color: #00cc66;
                    }
                .logout-btn {
                    background-color: #f44336;
                    padding: 11px 20px 10px;
                }
                    .logout-btn:hover {
                        background-color: #d32f2f;
                    }
            #tiles {
                display: flex;
            }
            .tiles {
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin: 20px auto 10px;
                gap: 20px;
            }
                .tile {
                    display: flex;
                    flex-direction: column;
                    background-color: #e6f0ff;
                    box-shadow: 0 0 5px #000;
                    border-radius: 10px;
                    padding: 20px;
                    text-align: center;
                    width: 200px;
                    gap: 10px;
                }
                    .tile h2 {
                        margin-bottom: 15px;
                        color: #1a73e8;
                    }
                    .tile i {
                        font-size: 38px;
                        margin-bottom: 10px;
                    }
                    .tile button {
                        padding: 10px 20px;
                        border: none;
                        background-color: #1a73e8;
                        color: #fff;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 16px;
                    }
                        .tile button:hover {
                            background-color: #155ab6;
                        }
            #results_users {
                display: flex;
            }
            .results_users {
                padding: 10px;
                width: 100%;
                flex-direction: column;
                align-items: stretch;
            }
                .result-item {
                    margin: 5px;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #000;
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                    width: 100%;
                }    
        /* === END User menu === */
    /* === END Main menu === */

    /* === Pytania quizu === */
    #result {
        display: none;
        padding: 20px;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        border-radius: 5px;
    }
    /* === END Pytania quizu === */

    /* --- pytania quizu --- */
    #block-questions {
        display: none;
    }
    .block-questions {
        width: 800px;
        margin: 0 auto;
        padding: 20px;
        color: #fff;
    }
        .question-block {
            padding: 10px;
        }
            #category {
                font-size: 32px;
                background-color: salmon;
                padding: 10px;
                margin: 10px 0;
                text-align: center;
                color: #000;
                font-weight: 600;
                text-shadow: 2px 2px 3px #fff;
            }
            .time {
                padding: 15px 0;
                margin: 10px 0;
                border-top: 2px solid salmon;
                border-bottom: 2px solid salmon;
                font-size: 26px;
                text-align: center;
            }
            .question-title {
                background-color: #202020;
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 5px;
                font-size: 22px;
            }
                .question-title pre {
                    background: #2d2d2d;
                    color: #f8f8f2;
                    padding: 12px;
                    border-radius: 6px;
                    font-family: 'Courier New', monospace;
                    overflow-x: auto;
                    margin: 10px 0;
                    border: 1px solid #444;
                    font-size: 14px;
                }
                .question-title code {
                    font-family: 'Courier New', monospace;
                }
            .questions-options {
                display: block;
                background-color: #202020;
                padding: 15px 20px;
                border-radius: 5px;
                margin: 5px auto;
                font-size: 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
                .questions-options:hover {
                    background-color: #000;
                }
            .questions-options.selected {
                background-color: blue;
                color: white;
            }
                .questions-options input[type="radio"] {
                    display: none;
                }
            .star {
                font-size: 22px;
                padding: 10px 0;
                display: block;
                margin: 15px auto 0 auto;
                width: fit-content;
            }/* --- END pytania quizu --- */
/* === -------------------------------------------------------------------------- === */
    /* --- przycisk -> powrot --- */
    .return-btn {
        display: block;
        border: none;
        padding: 5px;
        background-color: #4169E1;
        border-radius: 5px;
        box-shadow: 0 0 3px #fff;
        color: #fff;
        font-size: 20px;
        width: 150px;
        margin: 10px auto;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
        .return-btn:hover {
            background-color: #2047c0;
        }/* --- END przycisk -> powrot --- */
    /* --- przycisk -> sprawdz wyniki --- */
    .check-answers {
        display: block;
        margin: 20px auto;
        background-color: #4CAF50; /* zielony */
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
        .check-answers:hover {
            background-color: #45a049;
        }/* --- END przycisk -> sprawdz wyniki --- */
